secrets.yaml
deps
scripts
home-assistant_v2.db
configuration.yaml-back
known_devices.yaml
phue.conf
plex.conf
fitbit.conf
emulated_hue_ids.json
ip_bans.yaml
home-assistant.log
entity_registry.yaml
*.pid
*.xml
*.csr
*.crt
*.key
*.back
OZW_Log.txt
*.db-journal
lib
tts
*.conf
harmony_*.conf
pyozw.sqlite
*.pickle
.HA_VERSION
.config_entries.json
home-assistant_v2.db*
!/.gitignore
.storage/

