secrets.yaml
deps
scripts
home-assistant_v2.db
configuration.yaml-back
known_devices.yaml
phue.conf
plex.conf
fitbit.conf
ip_bans.yaml
home-assistant.log
*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
*.db-journal
lib
tts
*.conf
harmony_living_room.conf
pyozw.sqlite
usps_cookies.*
.*
!/.gitignore

